/*      common      */
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

body {
    overflow: hidden;
}


/*    waiting    */
#waiting_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
}

#waiting_wrap > .title_logo img {
    width: 35%;
}

#waiting_wrap > .refresh {
    margin: 7% auto 22%;
    text-align: center;
    position: relative;
    margin-left: -2.5%;
}

#waiting_wrap > .refresh span {
    text-align: center;
    position: absolute;
}



#waiting_wrap > .refresh > .refresh_img img {
    width: 100%;
    animation: rotate_image 1.5s linear infinite;
    transform-origin: 50% 50%;
    visibility: visible;
    margin-left: -57px;
}

#waiting_wrap > .refresh > .count_down { 
    font-weight: bold;
    font-size: 4em;
    color: #000;
    visibility: hidden;
}

#waiting_wrap > .wait_user {
    width: 100%;
    margin: 0 auto;
}

#waiting_wrap > .wait_user li {
    list-style: none;
    width: 18%;
    text-align: center;
    margin: 0 2%;
    display: inline-block;
}

#waiting_wrap > .wait_user .id {
    font-size: 1.2em;
    border-radius: 500px;
    width: 100%;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    text-align: center;
    padding: 5% 7%;
    text-transform: uppercase;
}

.ready {
    font-size: 0.8em;
    font-weight: bold;
    margin: 10% auto;
    border-radius: 500px;
    width: 30%;
    padding: 3% 5%;
    color: #fff;
    background: #bbb;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    left: 5%;
}

#waiting_wrap > .wait_user li:nth-child(1) .id {
    background: #ff4e4f;
    box-shadow: 0px 6px 0px 0px rgba(183, 47, 47, 1);
}

#waiting_wrap > .wait_user li:nth-child(2) .id {
    background: #ffca00;
    box-shadow: 0px 6px 0px 0px rgba(255, 174, 0, 1);
}

#waiting_wrap > .wait_user li:nth-child(3) .id {
    background: #b6d177;
    box-shadow: 0px 6px 0px 0px rgba(124, 177, 0, 1);
}

#waiting_wrap > .wait_user li:nth-child(4) .id {
    background: #a6613a;
    box-shadow: 0px 6px 0px 0px rgba(117, 61, 29, 1);
}



@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}



/*      play      */
.user_card img {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8%;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;  
}

.user_card img:nth-child(1) { margin-top:-13%;}
.user_card img:nth-child(2) { margin-top:13%;}
.user_card img:nth-child(3) { margin-left:-13%;}
.user_card img:nth-child(4) { margin-left:13%;}

.user_card_back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8%;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.user_list {
    width: 10%;
    position: fixed;
    top: 5%;
    left: 3%;
}

.user_list h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}

.user_list li {
    margin: 10% 0;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 50px;
    border: 1px solid #dedede;
    list-style: none;
    font-size: 1.5em;
    padding: 5% 15%;
}

.user_list span.number {
    border-right: 1px solid #dedede;
    padding-right: 15%;
    margin-right: 10%;
}


.bell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8%;
}


